# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Scripts (they contain private keys, but they shouldn't)
script/

# forge/cast folders
broadcast/